@charset "UTF-8";
/*
 *  01.header
 *  02.main
 *  03.footer
*/ 
a {
	text-decoration:none;
}
/*
 *  01.header
*/
.header {
	height: 280px;
	margin: 20px auto;
    position: relative;
    width: 960px;
}
.logo {
	margin: 13px 0 0 24px;
}
.help_nav {
	float: right;
	margin: 3px 35px 10px 0;
}
.help_nav li > a {
	color: #0099ff;
	font-size: 9px;
    padding-left: 24px;
}
.site_nav {
	background-image: url(../image/header_nav_bg_img.jpg);
	border-radius: 10px;
    float: right;
    height: 42px;
    line-height: 40px;
    margin: -50px 25px 34px 0;
    width: 752px;
}
.site_nav li > a {
	color: #000;
	font-size: 13px;
	padding-left: 43px;
}
.header ul > li {
	display: inline;
}
/*
 *  02.main
 */
.main {
	height: 1000px;
	margin: 0 auto;
    width: 960px;
}
.item_red {
	margin: 0 10px 10px 0;
}
.item_yellow {
	margin: 0 10px 10px 0;
}
.item_green {
	margin-bottom: 10px;
}
.top_btn {
	float: right;
	margin: 182px 70px 0 0;
}
/*
 *  03.footer
 */
.footer {
    background-image: url(../image/footer_bg_img.jpg);
    bottom: 0;
    height: 300px;
    left: 0;
    position: relative;
    width: 100%;
}
.footer_nav {
	height: 180px;
	margin: 0 auto;
	position: relative;
	top: 27px;
	width: 934px;
}
.footer ul {
	float: left;
	margin-right: 48px;
}
.footer_nav ul > li > a {
	color: #fff;
	font-size: 12px;
	letter-spacing: 2px;
	padding-bottom: 9px;
}
.footer_nav ul > li:first-child {
	color: #fff;
	font-weight: bold;
	padding-bottom: 12px;
}
.footer_icon {
	float: right;
}
.footer p {
	color: #fff;
	font-size: 12px;
	margin-top: 89px;
	text-align: center;
}