@charset "UTF-8";
/*
 *00.clearfix
 *01.header
 *02.main_wrap
 *02_01.main_wrap_top
 *02_02.main_contents
 *02_02_01.dgfruit_recipe
 *02_02_02.avocado_recipe
 *03.footer
 *04.top_btn
*/
a {
    text-decoration: none;
}
/*
 *00.clearfix
*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
/*
 *01.header
*/
.header {
    margin: 20px auto 25px;
    width: 1190px;
}
.logo {
    display: block;
    float: left;
    padding-left: 5px;
}
.groval_nav {
    float: left;
    padding: 41px 0 0 19px;
}
.groval_nav li {
    float: left;
    font-family: 'Hiragino Maru Gothic Pro';
    font-weight: bold;
    padding-right: 16px;
}
.groval_nav li > a {
    color: #3e3e3e;
    display: block;
}
.groval_nav li > a:hover {
    text-decoration: underline;
}
.header_serch {
    margin: -6px 0 0 6px;
}
.sns_link {
    float: left;
    margin: 17px 18px 0 0;
}
.sns_link a {
    display: block;
}
.sns_link a > img {
    margin: -2px 0 0 17px;
}
.sns_link p {
    margin-top: 2px;
}
.sns_link p > a {
    color: #3e3e3e;
    display: block;
}
.sns_link p > a:hover {
    text-decoration: underline;
}
.net_shop {
    float: left;
    margin-top: 13px;
}
.net_shop a {
    display: block;
}
.net_shop a > img {
    margin: -2px 0 0 16px;
}
.net_shop p {
    margin-top: 2px;
}
.net_shop p > a {
    color: #3e3e3e;
    display: block;
}
.net_shop p > a:hover {
    text-decoration: underline;
}
/*
 *02.main_wrap
*/
.main_wrap {
    margin: 0 auto;
    width: 900px;
}
/*
 *02_01.main_wrap_top
*/
.main_wrap_top {
    margin-bottom: 179px;
    width: 900px;
}
.key_visual {
    margin: 0 auto;
    width: 520px;
}
.recipe_nav {
    margin-bottom: 19px;
}
.display_block {
    display: block;
}
.dgfruit_nav {
    float: left;
}
.dgfruit_nav ul > li {
    margin-bottom: -2px;
}
.avocado_nav {
    float: left;
}
.avocado_nav ul > li {
    margin-bottom: -2px;
}
.what_salad {
    background-image: url(../image/what_salad_fruit.jpg);
    background-repeat: no-repeat;
}
.what_salad p {
    color: #808080;
    text-align: center;
}
.what_salad_text1 {
    padding-top: 87px;
}
.what_salad_text2 {
    padding: 12px 0 38px;
}
/*
 *02_02.main_contents
*/
.main_contents {
    margin: 0 auto;
    width: 900px;
}
/*///////////////////////////
 *repeat_style_container
///////////////////////////*/
.dgts th,.dgts td {
    color: #f28eb2;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 6px;
    text-align: left;
}
.dgbg {
    background-color: #ffd9e7;
    float: left;
    width: 329px;
}
.acbg {
    background-color: #d2fee9;
    float: left;
    width: 329px;
}
.acts th,.acts td {
    color: #008743;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 6px;
    text-align: left;
}
.space_bottom th {
    padding-bottom: 27px;
}
.dgtoptx {
    background-color: #f28eb2;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
    text-align: center;
}
.actoptx {
    background-color: #008743;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
    text-align: center;
}
.dgfruit_recipi_bottom {
    background-color: #ffd9e7;
    width: 668px;
}
.avocado_recipi_bottom {
    background-color: #d2fee9; 
    width: 668px;
}
/*
 *02_02_01.dgfruit_recipe
*/
.dgfruit_recipi {
    background-image: url(../image/recipe_dragonfruit_bg_body.jpg);
    background-repeat: repeat-y;
    border-top: 10px solid #da5284;
    border-bottom: 10px solid #da5284;
    margin: 0 auto 180px;
    padding-bottom: 40px;
    width: 802px;
}
.dgfruit_recipi_title {
    border-bottom: 2px solid #da5284;
    margin: 0 auto 20px;
    position: relative;
    width: 668px;
}
.dgfruit {
    left: -105px;
    position: absolute;
    top: -171px;
}
.recipi_name {
    float: right;
    padding: 56px 0 55px;
}
.dgfruit_recipi1 {
    border-bottom: 2px solid #da5284;
    margin: 0 auto 20px;
    padding-bottom: 30px;
    width: 668px;
}
.dgfruit_recipi1 h1 {
    color: #da5284;
    font-size: 20px;
    padding-bottom: 22px;
    text-align: center;
}
.dgfruit_recipi1_top {
    margin-bottom: 10px;
    width: 668px;
}
.dgfruit_recipi1_material {
    margin-right: 10px;
}
.material_top_text_dg {
    margin: 20px 0 13px 20px;
    width: 92px;
}
.dgfruit_material_box1 {
    margin: 0 0 29px 19px;
}
.dgfruit_material_box1 tr > th {
    padding-right: 31px;
}
.dgfruit_recipi1_top img {
    float: left;
}
.method_box_dg {
    margin: 0 auto;
    padding: 20px 0 23px;
    width: 628px;
}
.method_title_dg {
    padding: 4px 0;
    width: 63px;
}
.cooking_method_dg {
    font-size: 12px;
}
.cooking_method_dg li {
    color: #f28eb2;
    padding-top: 17px;
}
.dgfruit_recipi2 {
    border-bottom: 2px solid #da5284;
    margin: 0 auto 20px;
    padding-bottom: 30px;
    width: 668px;
}
.dgfruit_recipi2 h1 {
    color: #da5284;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 22px;
    text-align: center;
}
.dgfruit_recipi2_top {
    margin-bottom: 10px;
    width: 668px;
}
.dgfruit_material_box2 {
    margin: 0 0 29px 19px;
}
.dgfruit_material_box2 tr > th {
    padding-right: 10px;
}
.dgfruit_recipi2_top img {
    float: left;
    margin-right: 10px;
}
.dgfruit_recipi3 {
    margin: 0 auto;
    width: 668px;
}
.dgfruit_recipi3 h1 {
    color: #da5284;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 22px;
    text-align: center;
}
.dgfruit_recipi3_top {
    margin-bottom: 10px;
    width: 668px;
}
.dgfruit_recipi3_material {
    margin-right: 10px;
}
.dgfruit_material_box3 {
    margin: 0 0 122px 19px;
}
.dgfruit_material_box3 tr > th {
    padding-right: 29px;
}
.dgfruit_recipi3_top img {
    float: left;
}
/*
 *02_02_02.avocado_recipe
*/
.avocado_recipi {
    background-image: url(../image/recipe_avocado_bg_body.jpg);
    background-repeat: repeat-y;
    border-top: 10px solid #008743;
    border-bottom: 10px solid #008743;
    margin: 0 auto 230px;
    padding-bottom: 40px;
    width: 802px;
}
.avocado_recipi_title {
    border-bottom: 2px solid #008743;
    margin: 0 auto ;
    position: relative;
    width: 668px;
}
.avocado {
    left: -117px;
    position: absolute;
    top: -111px;
}
.recipi_name {
    float: right;
    padding: 56px 0 55px;
}
.avocado_recipi1 {
    border-bottom: 2px solid #008743;
    margin: 20px auto 0;
    padding-bottom: 30px;
    width: 668px;
}
.avocado_recipi1 h1 {
    color: #008743;
    font-size: 20px;
    padding-bottom: 22px;
    text-align: center;
}
.avocado_recipi1_top {
    margin-bottom: 10px;
    width: 668px;
}
.avocado_recipi1_material {
    margin-right: 10px;
}
.material_top_text_ac {
    margin: 20px 0 13px 20px;
    width: 92px;
}
.avocado_material_box1 {
    margin: 0 0 119px 19px;
}
.avocado_material_box1 tr > th {
    padding-right: 29px;
}
.avocado_recipi1_top img {
    float: left;
}
.method_box_ac {
    margin: 0 auto;
    padding: 20px 0 40px;
    width: 628px;
}
.method_title_ac {
    width: 63px;
}
.cooking_method_ac {
    font-size: 12px;
}
.cooking_method_ac li {
    color: #008743;
    padding-top: 17px;
}
.avocado_recipi2 {
    border-bottom: 2px solid #008743;
    margin: 20px auto 0;
    padding-bottom: 30px;
    width: 668px;
}
.avocado_recipi2 h1 {
    color: #008743;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 22px;
    text-align: center;
}
.avocado_recipi2_top {
    margin-bottom: 10px;
    width: 668px;
}
.avocado_material_box2 {
    margin: 0 0 83px 19px;
}
.avocado_material_box2 tr > th {
    padding-right: 29px;
}
.avocado_recipi2_top img {
    float: left;
    margin-right: 10px;
}
.method_box_ac2 {
    margin: 0 auto;
    padding: 20px 0 25px;
    width: 628px;
}
.avocado_recipi3 {
    margin: 20px auto 0;
    width: 668px;
}
.avocado_recipi3 h1 {
    color: #008743;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 22px;
    text-align: center;
}
.avocado_recipi3_top {
    margin-bottom: 10px;
    width: 668px;
}
.avocado_recipi3_material {
    margin-right: 10px;
}
.avocado_material_box3 {
    margin: 0 0 122px 19px;
}
.avocado_material_box3 tr > th {
    padding-right: 29px;
}
.avocado_recipi3_top img {
    float: left;
}
/*
 *03.footer
*/
.footer_wrap {
    bottom: 0;
    width: 100%;
}
.footer_link_box ul > li {
    float: left;
    width: 25%;
}
.fb a {
    background-color: #4967ab;
    display: block;
    opacity: 1;
    text-align: center;
}
.fb a:hover {
    opacity: 0.7;
}
.fb a > img {
    padding: 15px 0 12px;
}
.tw a {
    background-color: #55acef;
    display: block;
    opacity: 1;
    text-align: center;
}
.tw a:hover {
    opacity: 0.7;
}
.tw a > img {
    padding: 15px 0 12px;
}
.yt a {
    background-color: #e22e26;
    display: block;
    opacity: 1;
    text-align: center;
}
.yt a:hover {
    opacity: 0.7;
}
.yt a > img {
    padding: 15px 0 12px;
}
.dfc a {
    background-color: #ffa117;
    display: block;
    opacity: 1;
    text-align: center;
}
.dfc a:hover {
    opacity: 0.7;
}
.dfc a > img {
    padding: 15px 0 12px;
}
.footer_nav_wrap {
    position: relative;
    width: 100%;
    z-index: 1;
}
.footer_bg {
    width: 100%;
}
.footer_logo {
    position: absolute;
    right: 58px;
    top: 36px;
}
.footer_logo img {
    height: 176px;
    width: 142px;
}
.footer_nav_box {
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    width: 100%;
}
.footer_nav {
    float: left;
    padding: 18px 0 20px 44px;
}
.footer_nav li {
    float: left;
    font-size: 14px;
    margin-left: 15px;
}
.footer_nav li > a {
    color: #404141;
}
.footer_nav1 {
    border-right: 1px solid #404141;
    padding-right: 16px;
}
.footer_nav2 {
    border-right: 1px solid #404141;
    padding-right: 15px;
}
.footer_nav3 {
    border-right: 1px solid #404141;
    padding-right: 15px;
}
.copyright {
    color: #404141;
    float: left;
    font-size: 9px;
    padding: 20px 0 0 65px;
}
/*
 *04.top_btn
*/
.top_btn {
    bottom: 28px;
    position: fixed;
    right: 70px;
    z-index: 0;
}
.top_btn a {
    display: block;
}