@charset "UTF-8";
/*
 *00.clearfix
 *01.header
 *02.main_wrap
 *03.footer
 *04.top_btn
*/
a {
    text-decoration: none;
}
/*
 *00.clearfix
*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
/*
 *01.header
*/
.header {
    margin: 20px 0 25px;
    position: relative;
    width: 100%;
}
.header_inner {
    margin: 0 auto;
    width: 1192px;
}
.logo {
    display: block;
    float: left;
    padding-left: 5px;
}
.groval_nav {
    float: left;
    padding: 42px 0 0 19px;
}
.groval_nav li {
    float: left;
    font-family: 'Hiragino Kaku Gothic Pro' 'Hiragino Maru Gothic Pro';
    font-weight: bold;
    padding-right: 15px;
}
.groval_nav li > a {
    color: #3e3e3e;
    display: block;
}
.groval_nav li > a:hover {
    text-decoration: underline;
}
.header_serch {
    margin: -7px 0 0 12px;
}
.right_container{
    float: left;
    margin: 18px 13px 0 2px;
}
.right_container a {
    display: block;
}
.right_container p {
    margin-top: 2px;
}
.right_container p > a {
    color: #3e3e3e;
    display: block;
    font-family: "ヒラギノ角ゴ Pro W3",'Hiragino Kaku Gothic Pro';
    font-weight: bold;
}
.sns_link a > img {
    margin: -2px 0 0 17px;
}
.right_container p > a:hover {
    text-decoration: underline;
}
.sns_link_inner {
    background-color: #ffc2b2;
    display: none;
    height: 430px;
    left: 79px;
    position: absolute;
    top: 100px;
    width: 1281px;
}
.sns_link_nav {
    margin: 40px auto 0;
    width: 1051px;
}
.sns_link_nav dl > dt {
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
}
.sns_link_nav dl > dt > a {
    color: #3e3e3e;
    font-family: "ヒラギノ角ゴ Pro W3",'Hiragino Kaku Gothic Pro';
    font-weight: bold;
}
.sns_link_nav dl > dt > a:hover {
    text-decoration: underline;
}
.dfc_box {
    float: left;
    margin-right: 30px;;
}
.dfc_box dd > a {
    background-color: #ffa117;
    display: block;
    opacity: 1;
    padding: 26px 0 24px;
    text-align: center;
}
.dfc_box dd {
    border: 1px solid #fff;
    width: 314px;
}
.fb_box {
    float: left;
    margin: 0 30px 25px 0;
}
.fb_box dd > a {
    background-color: #4967ab;
    display: block;
    opacity: 1;
    padding: 26px 0 24px;
    text-align: center;
}
.fb_box dd {
    border: 1px solid #fff;
    width: 314px;
}
.tw_box {
    float: left;
    margin-bottom: 25px;
}
.tw_box dd > a {
    background-color: #55acef;
    display: block;
    opacity: 1;
    padding: 26px 0 24px;
    text-align: center;
}
.tw_box dd {
    border: 1px solid #fff;
    width: 314px;
}
.yt_box {
    float: left;
    margin-top: 24px;
}
.yt_box dd > a {
    background-color: #e22e26;
    display: block;
    opacity: 1;
    padding: 26px 0 24px;
    text-align: center;
}
.yt_box dd {
    border: 1px solid #fff;
    width: 314px;
}
.net_shop a > img {
    margin: -6px 0 0 14px;
}
/*
 *02.main_wrap
*/
.main_wrap {
    margin: 0 auto;
    width: 900px;
}
.main_wrap_top {
    margin-bottom: 179px;
    width: 900px;
}
.key_visual {
    margin: 0 auto -2px;
    width: 520px;
}
.recipe_nav {
    margin-bottom: 19px;
}
.display_block {
    display: block;
}
.display_block img {
    opacity: 1;
}
.bgimg1 {
    background-image: url(../image/top_dragonfruit_image_01_on.jpg);
    background-repeat: no-repeat;
}
.bgimg2 {
    background-image: url(../image/top_dragonfruit_image_02_on.jpg);
    background-repeat: no-repeat;
}
.bgimg3 {
    background-image: url(../image/top_dragonfruit_image_03_on.jpg);
    background-repeat: no-repeat;
}
.bgimg4 {
    background-image: url(../image/top_dragonfruit_image_04_on.jpg);
    background-repeat: no-repeat;
}
.bgimg5 {
    background-image: url(../image/top_avocado_image_01_on.jpg);
    background-repeat: no-repeat;
}
.bgimg6 {
    background-image: url(../image/top_avocado_image_02_on.jpg);
    background-repeat: no-repeat;
}
.bgimg7 {
    background-image: url(../image/top_avocado_image_03_on.jpg);
    background-repeat: no-repeat;
}
.bgimg8 {
    background-image: url(../image/top_avocado_image_04_on.jpg);
    background-repeat: no-repeat;
}
.dgfruit_nav {
    float: left;
}
.dgfruit_nav ul > li {
    margin-bottom: -2px;
}
.avocado_nav {
    float: left;
}
.avocado_nav ul > li {
    margin-bottom: -2px;
}
.what_salad {
    background-image: url(../image/what_salad_fruit.jpg);
    background-repeat: no-repeat;
    height: 167px;
}
.what_salad p {
    color: #808080;
    text-align: center;
}
.what_salad_text_top {
    padding-top: 87px;
}
.what_salad_text_bottom {
    padding: 12px 0 38px;
}
.main_contents {
    margin: 0 auto;
    width: 900px;
}
.dgts th,.dgts td {
    color: #f28eb2;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 6px;
    text-align: left;
}
.dgbg {
    background-color: #ffd9e7;
    float: left;
    width: 329px;
}
.acbg {
    background-color: #d2fee9;
    float: left;
    width: 329px;
}
.acts th,.acts td {
    color: #008743;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 6px;
    text-align: left;
}
.space_bottom th {
    padding-bottom: 27px;
}
.dgtoptx {
    background-color: #f28eb2;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
    text-align: center;
}
.actoptx {
    background-color: #008743;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
    text-align: center;
}
.dgfruit_recipi_bottom {
    background-color: #ffd9e7;
    width: 668px;
}
.avocado_recipi_bottom {
    background-color: #d2fee9; 
    width: 668px;
}
.dgfruit_recipi {
    background-image: url(../image/recipe_dragonfruit_bg_body.jpg);
    background-repeat: repeat-y;
    border-top: 10px solid #da5284;
    border-bottom: 10px solid #da5284;
    margin: 0 auto 180px;
    padding-bottom: 40px;
    width: 802px;
}
.dgfruit_recipi_title {
    margin: 0 auto -10px;
    position: relative;
    width: 668px;
}
.dgfruit {
    left: -105px;
    position: absolute;
    top: -171px;
}
.recipi_name {
    float: right;
    padding: 56px 0 35px;
}
.dgfruit_recipi_article {
    border-top: 2px solid #da5284;
    margin: 30px auto 0;
    width: 668px;
}
.dgfruit_recipi_article h1 {
    color: #da5284;
    font-size: 20px;
    height: 20px;
    letter-spacing: 2px;
    padding: 20px 0 22px;
    text-align: center;
}
.dgfruit_recipi_article_top {
    margin-bottom: 10px;
    width: 668px;
}
.dgfruit_recipi_material {
    margin-right: 10px;
}
.dgfruit_recipi_article_top img {
    float: left;
}
.material_top_text_dg {
    margin: 20px 0 13px 20px;
    width: 92px;
}
.dgfruit_material_box1 {
    margin: 0 0 29px 19px;
}
.dgfruit_material_box1 tr > th {
    padding-right: 31px;
}
.method_box_dg {
    margin: 0 auto;
    padding: 20px 0 23px;
    width: 628px;
}
.method_title_dg {
    padding: 4px 0;
    width: 63px;
}
.cooking_method_dg {
    font-size: 12px;
}
.cooking_method_dg li {
    color: #f28eb2;
    padding-top: 17px;
}
.dgfruit_material_box2 {
    margin: 0 0 29px 19px;
}
.dgfruit_material_box2 tr > th {
    padding-right: 10px;
}
.image_2nd {
    float: left;
    margin-right: 10px;
}
.dgfruit_material_box3 {
    margin: 0 0 122px 19px;
}
.dgfruit_material_box3 tr > th {
    padding-right: 29px;
}
.avocado_recipi {
    background-image: url(../image/recipe_avocado_bg_body.jpg);
    background-repeat: repeat-y;
    border-top: 10px solid #008743;
    border-bottom: 10px solid #008743;
    margin: 0 auto 231px;
    padding-bottom: 40px;
    width: 802px;
}
.avocado_recipi_title {
    margin: 0 auto -10px;
    position: relative;
    width: 668px;
}
.avocado {
    left: -117px;
    position: absolute;
    top: -111px;
}
.avocado_recipi_article {
    border-top: 2px solid #008743;
    margin: 30px auto 0;
    width: 668px;
}
.avocado_recipi_article h1 {
    color: #008743;
    font-size: 20px;
    height: 20px;
    letter-spacing: 2px;
    padding: 20px 0 22px;
    text-align: center;
}
.avocado_recipi_article_top {
    margin-bottom: 10px;
    width: 668px;
}
.avocado_recipi_material {
    margin-right: 10px;
}
.material_top_text_ac {
    margin: 20px 0 13px 20px;
    width: 92px;
}
.avocado_material_box1 {
    margin: 0 0 119px 19px;
}
.avocado_material_box1 tr > th {
    padding-right: 29px;
}
.avocado_recipi_article_top img {
    float: left;
}
.method_box_ac {
    margin: 0 auto;
    padding: 20px 0 40px;
    width: 628px;
}
.method_title_ac {
    width: 63px;
}
.cooking_method_ac {
    font-size: 12px;
}
.cooking_method_ac li {
    color: #008743;
    padding-top: 17px;
}
.avocado_material_box2 {
    margin: 0 0 83px 19px;
}
.avocado_material_box2 tr > th {
    padding-right: 29px;
}
.method_box_ac2 {
    margin: 0 auto;
    padding: 20px 0 25px;
    width: 628px;
}
.avocado_material_box3 {
    margin: 0 0 122px 19px;
}
.avocado_material_box3 tr > th {
    padding-right: 29px;
}
/*
 *03.footer
*/
.footer_wrap {
    bottom: 0;
    width: 100%;
}
.footer_link_box ul > li {
    float: left;
    width: 25%;
}
.fb a {
    background-color: #4967ab;
    display: block;
    opacity: 1;
    text-align: center;
}
.tw a {
    background-color: #55acef;
    display: block;
    opacity: 1;
    text-align: center;
}
.yt a {
    background-color: #e22e26;
    display: block;
    opacity: 1;
    text-align: center;
}
.dfc a {
    background-color: #ffa117;
    display: block;
    opacity: 1;
    text-align: center;
}
.footer_link_box ul > li > a > img {
    padding: 15px 0 12px;
}
.footer_nav_wrap {
    position: relative;
    width: 100%;
    z-index: 1;
}
.footer_bg {
    width: 100%;
}
.footer_logo {
    position: absolute;
    right: 58px;
    top: 36px;
}
.footer_nav_box {
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    width: 100%;
}
.footer_nav_article {
    float: left;
    padding: 18px 0 20px 44px;
}
.footer_nav_article li {
    float: left;
    font-size: 14px;
    margin-left: 16px;
}
.footer_nav_article li > a {
    color: #404141;
}
.footer_nav {
    border-right: 1px solid #404141;
    padding-right: 14px;
}
.copyright {
    color: #404141;
    float: left;
    font-size: 9px;
    padding: 20px 0 0 65px;
}
/*
 *04.top_btn
*/
.top_btn {
    bottom: 28px;
    position: fixed;
    right: 70px;
    z-index: 0;
}
.top_btn a {
    display: block;
}