@charset "UTF-8";
/*
 *00.clearfix
 *01.header
 *02.main_wrap
 *03.footer
 *04.top_btn
*/
a {
    text-decoration: none;
}
/*
 *00.clearfix
*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
/*
 *01.header
*/
.header {
    margin: 20px 0 25px;
    position: relative;
    width: 100%;
}
.header_inner {
    margin: 0 auto;
    width: 1190px;
}
.header_logo {
    display: block;
    float: left;
    padding-left: 5px;
}
.grov_nav {
    float: left;
    padding: 42px 0 0 19px;
}
.grov_nav li {
    float: left;
    font-family: 'Hiragino Kaku Gothic Pro' 'Hiragino Maru Gothic Pro';
    font-weight: bold;
    padding-right: 15px;
}
.grov_nav li > a {
    color: #3e3e3e;
    display: block;
}
.grov_nav li > a:hover {
    text-decoration: underline;
}
.header_serch {
    margin: -7px 0 0 12px;
}
.header_right_container{
    float: left;
    margin: 18px 12px 0 2px;
}
.header_right_container a {
    display: block;
}
.header_right_container p {
    margin-top: 2px;
}
.header_right_container p > a {
    color: #3e3e3e;
    display: block;
    font-family: "ヒラギノ角ゴ Pro W3",'Hiragino Kaku Gothic Pro';
    font-weight: bold;
}
.sns_link a > img {
    margin: -2px 0 0 17px;
}
.header_right_container p > a:hover {
    text-decoration: underline;
}
.sns_link_inner {
    background-color: #ffc2b2;
    display: none;
    left: 79px;
    padding-bottom: 30px;
    position: absolute;
    top: 100px;
    width: 1281px;
}
.triangle {
    border-bottom: 17px solid #ffc2b2;
    border-left: 17px solid #fff;
    border-right: 17px solid #fff;
    height: 0;
    position: absolute;
    right: 188px;
    top: -17px;
    width: 0;
}
.sns_link_nav {
    margin: 40px auto 0;
    width: 1051px;
}
.sns_link_nav dl > dt {
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
}
.link_nav_txt a {
    color: #3e3e3e;
    font-family: "ヒラギノ角ゴ Pro W3",'Hiragino Kaku Gothic Pro';
    font-weight: bold;
}
.link_nav_txt a:hover {
    text-decoration: underline;
}
.dfc_box,
.fb_box,
.tw_box,
.yt_box {
    float: left;
}
.dfc_box {
    margin-right: 30px;
}
.fb_box {
    margin: 0 30px 25px 0;
}
.tw_box {
    margin-bottom: 25px;
}
.yt_box {
    margin-top: 24px;
}
.dfc_box dd > a,
 .fb_box dd > a,
 .tw_box dd > a,
 .yt_box dd > a {
    display: block;
    opacity: 1;
    padding: 26px 0 24px;
    text-align: center;
}
.dfc_box dd > a {
    background: #ffa117;
}
.fb_box dd > a {
    background: #4967ab;
}
.tw_box dd > a {
    background: #55acef;
}
.yt_box dd > a {
    background: #e22e26;
}
.link_box_wrap {
    border: 1px solid #fff;
    width: 314px;
}
.net_shop a > img {
    margin: -6px 0 0 13px;
}
/*
 *02.main_wrap
*/
.main_wrap {
    margin: 0 auto;
    width: 900px;
}
.main_wrap_top {
    margin-bottom: 179px;
    width: 900px;
}
.key_visual {
    margin: 0 auto -2px;
    width: 520px;
}
.recipe_nav {
    margin-bottom: 19px;
}
.dpb {
    display: block;
}
.opa a > img {
    opacity: 1;
}
.changeimage1,
.changeimage2,
.changeimage3,
.changeimage4,
.changeimage5,
.changeimage6,
.changeimage7,
.changeimage8 {
    background-repeat: no-repeat;
}
.changeimage1 {
    background-image: url(../image/top_dragonfruit_image_01_on.jpg);
}
.changeimage2 {
    background-image: url(../image/top_dragonfruit_image_02_on.jpg);
}
.changeimage3 {
    background-image: url(../image/top_dragonfruit_image_03_on.jpg);
}
.changeimage4 {
    background-image: url(../image/top_dragonfruit_image_04_on.jpg);
}
.changeimage5 {
    background-image: url(../image/top_avocado_image_01_on.jpg);
}
.changeimage6 {
    background-image: url(../image/top_avocado_image_02_on.jpg);
}
.changeimage7 {
    background-image: url(../image/top_avocado_image_03_on.jpg);
}
.changeimage8 {
    background-image: url(../image/top_avocado_image_04_on.jpg);
}
.salad_nav {
    float: left;
}
.salad_nav ul > li {
    margin-bottom: -2px;
}
.what_salad {
    background-image: url(../image/what_salad_fruit.jpg);
    background-repeat: no-repeat;
    height: 167px;
}
.what_salad p {
    color: #808080;
    text-align: center;
}
.what_salad_text_top {
    padding-top: 87px;
}
.what_salad_text_bottom {
    padding: 12px 0 38px;
}
.main_contents {
    margin: 0 auto;
    width: 900px;
}
.dgfruit_recipi,
.avocado_recipi {
    background-repeat: repeat-y;
    width: 802px;
}
.dgfruit_recipi {
    background-image: url(../image/recipe_dragonfruit_bg_body.jpg);
    margin: 0 auto 180px;
}
.avocado_recipi {
    background-image: url(../image/recipe_avocado_bg_body.jpg);
    margin: 0 auto 231px;
}
.dgfruit_recipi:before,
.dgfruit_recipi:after,
.avocado_recipi:before,
.avocado_recipi:after {
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 20px;
    width: 802px;
}
.dgfruit_recipi:before {
    background-image: url(../image/recipe_dragonfruit_bg_top.jpg);
}
.dgfruit_recipi:after {
    background-image: url(../image/recipe_dragonfruit_bg_bottom.jpg);
}
.avocado_recipi:before {
    background-image: url(../image/recipe_avocado_bg_top.jpg);
}
.avocado_recipi:after {
    background-image: url(../image/recipe_avocado_bg_bottom.jpg);
}
.fruit_recipi_title {
    margin: 0 auto -10px;
    position: relative;
    width: 668px;
}
.dgfruit {
    left: -105px;
    position: absolute;
    top: -179px;
}
.avocado {
    left: -117px;
    position: absolute;
    top: -120px;
}
.recipi_name {
    float: right;
    padding: 48px 0 65px;
}
.dgfruit_recipi_article,
.avocado_recipi_article {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 668px;
}
.dgfruit_recipi_article {
    border-top: 2px solid #da5284;
}
.avocado_recipi_article {
    border-top: 2px solid #008743;
}
.dgfruit_recipi_article h1,
.avocado_recipi_article h1 {
    font-size: 20px;
    height: 20px;
    letter-spacing: 2px;
    padding: 20px 0 22px;
    text-align: center;
}
.dgfruit_recipi_article h1 {
    color: #da5284;
}
.avocado_recipi_article h1 {
    color: #008743;
}
.fruit_recipi_article_top {
    margin-bottom: 10px;
    width: 668px;
}
.fruit_recipi_article_top img {
    float: left;
}
.image_2nd {
    float: left;
    margin-right: 10px;
}
.fruit_recipi_material {
    margin-right: 10px;
}
.dgbg,
.acbg {
    float: left;
    width: 329px;
}
.dgbg {
    background: #ffd9e7;
}
.acbg {
    background: #d2fee9;
}
.material_top_text {
    margin: 20px 0 13px 20px;
    width: 92px;
}
.dgtoptx,
.actoptx {
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
    text-align: center;
}
.dgtoptx {
    background: #f28eb2;
}
.actoptx {
    background: #008743;
}
.dgfruit_material_box1,
.dgfruit_material_box2 {
    margin: 0 0 29px 19px;
}
.dgfruit_material_box3 {
    margin: 0 0 122px 19px;
}
.dgfruit_material_box1 tr > th {
    padding-right: 31px;
}
.dgfruit_material_box2 tr > th {
    padding-right: 10px;
}
.dgfruit_material_box3 tr > th {
    padding-right: 29px;
}
.dgts th,
.dgts td,
.acts th,
.acts td {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 6px;
    text-align: left;
}
.dgts th,
.dgts td {
    color: #f28eb2;
}
.acts th,
.acts td {
    color: #008743;
}
.space_bottom th {
    padding-bottom: 27px;
}
.dgfruit_recipi_bottom,
.avocado_recipi_bottom {;
    width: 668px;
}
.dgfruit_recipi_bottom {
    background: #ffd9e7;
}
.avocado_recipi_bottom {
    background: #d2fee9; 
}
.method_box_dg,
.method_box_ac,
.method_box_ac2 {
    margin: 0 auto;
    width: 628px;
}
.method_box_dg {
    padding: 20px 0 23px;
}
.method_box_ac {
    padding: 20px 0 40px;
}
.method_box_ac2 {
    padding: 20px 0 25px;
}
.method_title_dg,
.method_title_ac {
    width: 63px;
}
.method_title_dg {
    padding: 4px 0;
}
.avocado_material_box1 {
    margin: 0 0 119px 19px;
}
.avocado_material_box2 {
    margin: 0 0 83px 19px;
}
.avocado_material_box3 {
    margin: 0 0 122px 19px;
}
.avocado_material_box1 tr > th,
.avocado_material_box2 tr > th,
.avocado_material_box3 tr > th {
    padding-right: 29px;
}
.cooking_method_dg {
    font-size: 12px;
}
.cooking_method_ac {
    font-size: 12px;
}
.cooking_method_dg li,
.cooking_method_ac li {
    padding-top: 17px;
}
.cooking_method_dg li{
    color: #f28eb2;
}
.cooking_method_ac li {
    color: #008743;
}
/*
 *03.footer
*/
.footer_wrap {
    bottom: 0;
    width: 100%;
}
.footer_link_box ul > li {
    float: left;
    width: 25%;
}
.fb a,
.tw a,
.yt a,
.dfc a {
    display: block;
    opacity: 1;
    text-align: center;
}
.fb a {
    background: #4967ab;
}
.tw a {
    background: #55acef;
}
.yt a {
    background: #e22e26;
}
.dfc a {
    background: #ffa117;
}
.link_box_anchor img {
    padding: 15px 0 12px;
}
.footer_nav_wrap {
    position: relative;
    width: 100%;
    z-index: 1;
}
.footer_bg {
    width: 100%;
}
.footer_logo {
    position: absolute;
    right: 58px;
    top: 36px;
}
.flush {
    background: #fff;
    height: 176px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 142px;
}
.footer_nav_box {
    bottom: 0;
    background: rgba(255,255,255,0.8);
    position: absolute;
    width: 100%;
}
.footer_nav_article {
    float: left;
    padding: 18px 0 20px 44px;
}
.footer_nav_article li {
    float: left;
    font-size: 14px;
    margin-left: 16px;
}
.footer_nav_article li > a {
    color: #404141;
}
.footer_nav_anchor {
    border-right: 1px solid #404141;
    padding-right: 14px;
}
.copyright {
    color: #404141;
    float: left;
    font-size: 9px;
    padding: 20px 0 0 65px;
}
/*
 *04.top_btn
*/
.top_btn {
    bottom: 28px;
    position: fixed;
    right: 70px;
    z-index: 0;
}
.top_btn a {
    display: block;
}