@charset "UTF-8";
/*
 *00.clearfix
 *01.header
 *02.main
 *03.footer
*/
a {
    text-decoration: none;
}
body {
    font-family: serif;
}
/*
 *00.clearfix
*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
/*
 *01.header
*/
.header {
    border-bottom: 1px solid #2d4260;
    box-sizing: border-box;
    padding: 23px 0 16px 10px;
    width: 100%;
}
.header h1 {
   color: #2d4260;
   font-size: 20px;
   margin: 0 auto;
}
/*
 *02.main
*/
.main {
    margin-bottom: 25px;
    width: 100%;
}
.main_top {
    background: #b6d9ec;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 14px;
}
.key_visual {
    margin-bottom: 7px;
    width: 100%;
}
.sp_key_visual,
.pc_key_visual {
    height: auto;
    width: 100%;
}
.pc_key_visual {
    display: none;
}
.key_word {
    color: #4c4c4c;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.word_section {
    box-sizing: border-box;
    margin: 0 auto 11px;
    padding: 0 10px;
}
.word_section h3 {
    background: #dbecf6;
    border: 1px solid #535353;
    border-radius: 3px;
    box-sizing: border-box;
    color: #4c4c4c;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 9px 0 8px;
    width: 100%;
}
.word_section p {
    color: #4c4c4c;
    font-size: 10px;
    padding-top: 6px;
}
.main_bottom {
    background: #fff;
    text-align: center;
    width: 100%;
}
.main_bottom_heading {
    color: #0e3a57;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 6px;
}
.select_language {
    margin: 0 auto 10px;
    width: 100%;
}
.select_language li {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
.select_language li:nth-child(odd) {
    padding: 0 5px 0 10px;
}
.select_language li:nth-child(even) {
    padding: 0 10px 0 5px;
}
.language_btn {
    background: #2d4261;
    color: #fff;
    display: block;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 7px 0;
    width: 100%;
}
.language_btn span {
    float: right;
}
.main_bottom_period {
    color: #0e3a57;
    font-size: 13px;
    letter-spacing: 2px;
}
.indent_right {
    margin-right: 7px;
}
.indent_bottom {
    margin-bottom: 17px;
}
/*
 *03.footer
*/
.footer {
    font-family: sans-serif;
    margin-bottom: 9px;
    width: 100%;
}
.footer_nav {
    background: #2d4261;
    margin-bottom: 9px;
}
.homepage_link {
    box-sizing: border-box;
    padding: 0 7px;
    width: 100%;
}
.homepage_link a {
    color: #fff;
    display: block;
    font-size: 10px;
    padding: 14px 0 12px;
}
.footer_bottom {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
}
.footer_bottom_company,
.footer_bottom_copyright {
    color: #0e3a57;
    font-size: 8px;
}
.footer_bottom_company {
    float: left;
}
.footer_bottom_copyright {
    float: right;
}
@media (min-width: 768px) {
/*
 *01.header
*/
.header {
    padding: 23px 0 19px 230px;
}
.header h1 {
   font-size: 20px;
}
/*
 *02.main
*/
.sp_key_visual {
    display: none;
}
.pc_key_visual {
    display: inline-block;
}
.key_word {
    font-size: 28px;
    margin-bottom: 24px;
}
.word_article {
    margin: 0 auto;
    width: 756px;
}
.word_section {
    float: left;
    margin: 0 auto 11px;
    padding: 0 10px;
    width: 50%;
}
.word_section h3 {
    font-size: 26px;
    letter-spacing: 3px;
    padding: 9px 0 8px;
}
.word_section p {
    font-size: 10px;
    padding-top: 6px;
}
.main_bottom {
    margin: 0 auto;
    text-align: center;
    width: 756px;
}
.main_bottom_heading_article {
    margin: 0 auto 6px;
    padding-left: 65px;
    width: 100%;
}
.main_bottom_heading {
    float: left;
    font-size: 36px;
    letter-spacing: 3px;
}
.select_language {
    box-sizing: border-box;
    margin: 0 auto 10px;
    padding: 0 40px;
    width: 100%;
}
.select_language li {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
.select_language li:nth-child(odd) {
    padding: 0 10px 0 50px;
}
.select_language li:nth-child(even) {
    padding: 0 50px 0 10px;
}
.language_btn {
    font-size: 30px;
    letter-spacing: 2px;
    padding: 14px 0;
    width: 100%;
}
.main_bottom_period {
    font-size: 26px;
    letter-spacing: 2px;
}
/*
 *03.footer
*/
.homepage_link {
    box-sizing: border-box;
    margin: 0 auto;
    width: 50%;
}
.footer_bottom {
    margin: 0 auto;
    width: 50%;
}
.footer_bottom_company {
    float: left;
    margin-right: 20px;
}
.footer_bottom_copyright {
    float: left;
}
}